<!-- MANAGEMENT LIST ITEMS -->
<div class="management-items" ng-sortable="vm.sortableOptions" ng-model="vm.messages" ng-class="{'sortable': vm.order === ''}">
    <div ng-if="vm.loadingUsers" class="management-item inactive">
        <div layout="row" layout-align="start center" flex>
            <div class="info" flex>
                <div class="title">
                    {{'loading' | translate}}
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.loadingUsers && !vm.userCounter > 0" class="management-item inactive">
        <div layout="row" layout-align="start center" flex>
            <div class="info" flex>
                <div class="title">
                    {{'no_messages_yet' | translate}}
                </div>
            </div>
        </div>
    </div>
    <div ng-show="vm.messages[0]" class="management-item" md-ink-ripple layout="row" layout-align="start center"
         ng-click="vm.openDetailDialog($event, vm.selectedType, message.id)"
         ng-repeat="message in vm.messages | orderBy:vm.order:vm.orderDescending | filter:vm.filters.search | filter:vm.filters.selectedTab  as results track by message.id"
         ng-class="{'starred': message.starred, 'selected': message.selected, 'completed': message.completed}">


        <div layout="row" layout-align="start center" flex>

            <div class="info" flex>
                <div class="title">
                    {{message.name}} <span class="secondary" ng-if="message.timeBound">({{message.eventDate | date : 'dd/MM/yyyy HH:mm'}})</span>
                </div>

                <div class="notes">
                    {{message.notes}}
                </div>

                <div class="tags" layout="row" layout-align="start center" layout-wrap>

                    <div class="message-status" layout="row" layout-align="start center"
                    ng-style="message.isChecked && {'background-color':'lightgreen'} || {'background-color': 'red'}">
                    </div>

                    <div class="tag" layout="row" layout-align="start center" ng-repeat="tag in message.tags track by tag.id">
                        <div class="tag-color" 
                        ng-style="{'background-color': tag.color}"></div>
                        <div class="tag-label">{{tag.name}}</div>
                    </div>
                </div>
            </div>

            <div class="buttons" layout="row" layout-align="start center">

                <md-button ng-if="vm.access.organisation.editMessages == true" class="md-icon-button" aria-label="More" translate
                           translate-attr-aria-label="MANAGEMENT.MORE">
                    <md-tooltip>{{'edit_message' | translate}}</md-tooltip>
                    <md-icon md-font-icon="icon-pencil" ng-click="vm.openEditDialog($event, vm.selectedType, message.id); $event.stopPropagation();"></md-icon>
                </md-button>

                <md-menu>
                    <md-button class="md-icon-button" aria-label="More" translate
                               translate-attr-aria-label="MANAGEMENT.MORE">
                        <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdMenu.open($event)"></md-icon>
                    </md-button>

                    <md-menu-content width="3">
                        <md-menu-item ng-if="vm.access.organisation.editMessages == true">
                            <md-button ng-click="vm.createCopy($event, vm.selectedType, message)" aria-label="answer_dialog">
                                <md-icon class="grey-fg" md-font-icon="icon-content-copy" class="s18"></md-icon>
                                <span>{{'create_copy' | translate}}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.openAnswerDialog($event, vm.selectedType, message.id)" aria-label="answer_dialog">
                                <md-icon class="grey-fg" md-font-icon="icon-comment-text-outline" class="s18"></md-icon>
                                <span>{{'see' | translate}} <span class="lowercase">{{'answers' | translate}}</span></span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <div ng-if="results.length === 0" layout="row" layout-align="start center" flex>
            <div class="info" flex>
                <div class="title">
                    {{'no_results' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / MANAGEMENT LIST ITEMS -->