<md-dialog class="detail-dialog" aria-label="New message">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <span class="title">{{vm.message.name}}</span>
            <span flex></span>

            <md-button ng-if="vm.access.organisation.editMessages == true" class="md-icon-button" ng-click="vm.createCopy($event)" >
                <md-tooltip>{{'create_copy' | translate}}</md-tooltip>
                <md-icon md-font-icon="icon-content-copy" aria-label="Edit message"></md-icon>
            </md-button>
            <md-button ng-if="vm.access.organisation.editMessages == true" class="md-icon-button" ng-click="vm.edit($event)" >
                <md-tooltip>{{'edit_message' | translate}}</md-tooltip>
                <md-icon md-font-icon="icon-pencil" aria-label="Edit message"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content ms-scroll>
        <div class="detail-placeholder" ng-if="!vm.message">
            <div class="spinner-wrapper-custom">
                <div class="spinner">
                    <div class="inner">
                        <div class="gap"></div>
                        <div class="left">
                            <div class="half-circle"></div>
                        </div>
                        <div class="right">
                            <div class="half-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-content" ng-if="vm.message">
            <div class="info message">
                <h3>{{'message' | translate}}:</h3>
                <span>{{vm.message.message}}</span>
            </div>
            <div class="info tagsWrapper">
                <h3>{{'tags' | translate}}:</h3>
                <div class="tags" layout="row" layout-align="start center" layout-wrap>
                    <div class="tag" layout="row" layout-align="start center" ng-repeat="tag in vm.message.tags track by tag.id">
                        <div class="tag-color" ng-style="{'background-color': tag.color}"></div>
                        <div class="tag-label">{{tag.name}}</div>
                    </div>
                </div>
            </div>
            <div class="info questionType">
                <h3 ng-if="vm.message.questionType">{{'question_type' | translate}}:</h3>
                <div>
                    <span ng-if="vm.message.questionType == 'yesOrNo'">{{'yes_or_no_question' | translate}}</span>
                    <span ng-if="vm.message.questionType == 'announcement'">{{'announcement' | translate}}</span>
                    <span ng-if="vm.message.questionType == 'survey'">{{'survey' | translate}}</span>
                </div>
            </div>
            <div class="info yesOrNo" ng-if="vm.message.questionType == 'yesOrNo'">
                <h3>{{'message_yes' | translate}}:</h3>
                <span>{{vm.message.possibleAnswers.yes.message}}</span>
                <h3>{{'message_no' | translate}}:</h3>
                <span>{{vm.message.possibleAnswers.no.message}}</span>
            </div>
            <div class="info time">
                <h3 ng-if="vm.message.timeBound">{{'event_date' | translate}}:</h3>
                <span ng-if="vm.message.timeBound">{{vm.message.eventDate | date : 'dd/MM/yyyy HH:mm'}}</span>
  
                <h3 ng-if="vm.message.timeBound">{{'notification_date' | translate}}:</h3>
                <span ng-if="vm.message.timeBound">{{vm.message.notificationFromDate | date : 'dd/MM/yyyy HH:mm'}} - {{vm.message.notificationToDate | date : 'dd/MM/yyyy HH:mm'}}</span>

            </div>
            <div class="info answers">
                <h3>{{'answers' | translate}}:</h3>
                <span>{{'yes' | translate}}: {{vm.responseYesCounter}} </span>
                <span>{{'no' | translate}}: {{vm.responseNoCounter}} </span>
                <span>{{'others' | translate}}: {{vm.responseOthersCounter}} </span>
                <span>{{'no_response' | translate}}: {{vm.responseNoResponseCounter}} </span>
                <div>
                    <md-button class="inline-button" ng-click="vm.seeAnswers($event)">{{'see' | translate}} {{'answers' | translate}}</md-button>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>