<div id="login-v2" ms-scroll class="scrollable">

    <div id="login-v2-form-wrapper">
        <div id="login-v2-form">
<!--
            <div class="logo md-accent-bg" hide-gt-sm>
                <span>F</span>
            </div>
-->

            <div class="title" translate="reset_password">Reset password</div>
<!--
            <div class="description" translate="login_V2.DESCRIPTION">Sed mollis velit facilisis facilisis viverra
            </div>
-->

            <div class="reset_description" layout="row" layout-sm="column" layout-align="start center">
                <span translate="reset_description"></span>
            </div>
            
            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <label>{{'email' | translate}}</label>
                    <input type="email" name="email" ng-model="vm.form.email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="email_required">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="email_must_valid">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>
                
                <md-button ng-click="resetEmailPass()" type="submit" class="md-raised md-accent submit-button" aria-label="RESET PASSWORD" ng-disabled="loginForm.$invalid || loginForm.$pristine" translate="reset_now" translate-attr-aria-label="reset_now">
                    Reset now
                </md-button>
            </form>

            <div class="login" layout="row" layout-sm="column" layout-align="center center">
                <span class="text" translate="already_have">Already have an account?</span>
                <!--<a class="link" ui-sref="app.login" translate="login">Log in</a>-->
            </div>
            
            <div class="loginlink" layout="row" layout-sm="column" layout-align="center center">
                <a class="link" ui-sref="app.login" translate="login">Log in</a>
            </div>            
            
        </div>
    </div>
</div>