md-dialog {
    &.scan-result-dialog {
        .scan-result-content {
            text-align: center;
            md-icon {
                display: inline-block;
                height: 100px;
                width: 100px;
                font-size: 100px;
                padding-top: 35px;
            }
        }
    }
}
// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-md) {
    md-dialog {
        &.scan-result-dialog {
            width: 80%;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-sm) {
    md-dialog {
        &.scan-result-dialog {
            width: 90%;
        }
    }
}