<md-dialog class="task-dialog" aria-label="New message">
    <form name="messageForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center"> <span
                    ng-if="vm.type == 'messages'" class="title">{{'edit_message' | translate}}</span> <span
                    ng-if="vm.type == 'tags'" class="title">{{'edit_tag' | translate}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll ng-if="vm.type == 'messages'">
            <div class="task-placeholder" ng-if="!vm.messageSaveData">
                <div class="spinner-wrapper-custom">
                    <div class="spinner">
                        <div class="inner">
                            <div class="gap"></div>
                            <div class="left">
                                <div class="half-circle"></div>
                            </div>
                            <div class="right">
                                <div class="half-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-content" ng-show="vm.messageSaveData || vm.tagSaveData">
                <md-input-container class="md-block">
                    <label translate="title">Title</label>
                    <input id="title" name="title" ng-model="vm.messageSaveData.name" required md-autofocus>
                    <div ng-messages="messageForm.title.$error" ng-show="messageForm.title.$touched" role="alert">
                        <div ng-message="required"> <span translate="required">Title field is required</span> </div>
                    </div>
                </md-input-container>
                <md-input-container class="tags">
                    <label translate="tags">Tags</label>
                    <md-chips ng-model="vm.selectedTags" md-autocomplete-snap=""
                        md-transform-chip="vm.transformChip($chip)" md-require-match="true">
                        <md-autocomplete md-selected-item="vm.selectedItem" md-search-text="vm.searchText"
                            md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.name"> <span
                                md-highlight-text="vm.searchText">{{item.name}}</span> </md-autocomplete>
                        <md-chip-template> <span ng-if="$chip.color" class="color"
                                ng-style="{'background-color':$chip.color}"></span> <span>
                                <strong>{{$chip.name}}</strong>
                                <em ng-if="$chip.type == 'new'">({{'new' | translate}})</em>
                            </span> </md-chip-template>
                    </md-chips>
                </md-input-container>
                <md-input-container class="question-type">
                    <label translate="question_type">Question type</label>
                    <md-select aria-label="questionTypeSelector" ng-model="vm.messageSaveData.questionType">
                        <md-option value="yesOrNo">{{'yes_or_no_question' | translate}}</md-option>
                        <md-option value="announcement">{{'announcement' | translate}}</md-option>
                        <md-option value="survey">{{'survey' | translate}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="notes">
                    <label translate="message">Message</label>
                    <textarea name="message" ng-model="vm.messageSaveData.message"
                        ng-pattern="/^[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*(?:[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*\r?\n[a-zA-Z _\\\/.,’!?'-\d+@èéà€ï:()]*)*$/"
                        ng-trim="false" cols="100" mentio mentio-items="vm.mentions | filter:label:typedTerm"
                        mentio-typed-text="typedTerm" mentio-require-leading-space="true" md-maxlength="320"
                        required=""> </textarea>
                    <div ng-messages="messageForm.message.$error">
                        <div ng-message="pattern"> <span translate="invalid_characters">Pattern Error</span> </div>
                        <div ng-message="required"> <span translate="required">Field is required</span> </div>
                    </div>
                </md-input-container>
                <md-input-container ng-show="vm.messageSaveData.questionType == 'yesOrNo'" class="notes">
                    <label translate="message_yes">Message</label>
                    <textarea name="messageyes" ng-model="vm.messageSaveData.possibleAnswers.yes.message"
                        ng-pattern="/^[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*(?:[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*\r?\n[a-zA-Z _\\\/.,’!?'-\d+@èéà€ï:()]*)*$/"
                        ng-trim="false" cols="100" mentio mentio-items="vm.mentions | filter:label:typedTerm"
                        mentio-typed-text="typedTerm" mentio-require-leading-space="true" md-maxlength="320"
                        ng-required="vm.messageSaveData.questionType == 'yesOrNo'"></textarea>
                    <div ng-messages="messageForm.messageyes.$error">
                        <div ng-message="pattern"> <span translate="invalid_characters">Pattern Error</span> </div>
                        <div ng-message="required"> <span translate="required">Field is required</span> </div>
                    </div>
                </md-input-container>
                <md-input-container ng-show="vm.messageSaveData.questionType == 'yesOrNo'" class="notes">
                    <label translate="message_no">Message</label>
                    <textarea name="messageno" ng-model="vm.messageSaveData.possibleAnswers.no.message"
                        ng-pattern="/^[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*(?:[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*\r?\n[a-zA-Z _\\\/.,’!?'-\d+@èéà€ï:()]*)*$/"
                        ng-trim="false" cols="100" mentio mentio-items="vm.mentions | filter:label:typedTerm"
                        mentio-typed-text="typedTerm" mentio-require-leading-space="true" md-maxlength="320"
                        ng-required="vm.messageSaveData.questionType == 'yesOrNo'"></textarea>
                    <div ng-messages="messageForm.messageno.$error">
                        <div ng-message="pattern"> <span translate="invalid_characters">Pattern Error</span> </div>
                        <div ng-message="required"> <span translate="required">Field is required</span> </div>
                    </div>
                </md-input-container>
                <md-input-container ng-show="vm.messageSaveData.questionType == 'survey'" class="notes">
                    <label translate="message_reaction">Message</label>
                    <textarea name="messagedefault" ng-model="vm.messageSaveData.possibleAnswers.default.message"
                        ng-pattern="/^[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*(?:[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*\r?\n[a-zA-Z _\\\/.,’!?'-\d+@èéà€ï:()]*)*$/"
                        ng-trim="false" cols="100" mentio mentio-items="vm.mentions | filter:label:typedTerm"
                        mentio-typed-text="typedTerm" mentio-require-leading-space="true"
                        ng-required="vm.messageSaveData.questionType == 'survey'"></textarea>
                    <div ng-messages="messageForm.messagedefault.$error">
                        <div ng-message="pattern"> <span translate="invalid_characters">Pattern Error</span> </div>
                        <div ng-message="required"> <span translate="required">Field is required</span> </div>
                    </div>
                </md-input-container>
                <div layout="column">
                    <div flex class="date-container" ng-if="vm.messageSaveData.timeBound">
                        <md-checkbox ng-model="vm.messageSaveData.isPush" aria-label="isPush checkBox">
                            Direct bericht
                        </md-checkbox>
                    </div>
                    <div flex class="date-container" ng-if="vm.messageSaveData.timeBound">
                        <label ng-hide="vm.messageSaveData.isPush" translate="event_date_input">Event Date</label>
                        <label ng-show="vm.messageSaveData.isPush" translate="push_date_input">Push Date</label>
                        <md-datepicker md-open-on-focus flex ng-model="vm.messageSaveData.eventDate"></md-datepicker>
                        <md-input-container class="no-errors-spacer" flex="20" md-no-float>
                            <label>{{'hour' | translate}}</label>
                            <md-select ng-model="vm.messageSaveData.eventHour">
                                <md-option ng-value="hour.value" ng-repeat="hour in vm.hours">
                                    {{ hour.twentyFourHoursClock }}</md-option>
                            </md-select>
                            <div ng-messages="vm.messageSaveData.eventHour.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="no-errors-spacer" flex="60" md-no-float>
                            <label>{{'minute' | translate}}</label>
                            <md-select ng-model="vm.messageSaveData.eventMinute">
                                <md-option ng-value="minute.value" ng-repeat="minute in vm.minutes">{{ minute.string }}
                                </md-option>
                            </md-select>
                            <div ng-messages="vm.messageSaveData.eventMinute.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex class="date-container" ng-if="vm.messageSaveData.timeBound && !vm.messageSaveData.isPush">
                        <label>{{'notification_from' | translate}}</label>
                        <md-input-container class="no-errors-spacer notification-value-input" md-no-float>
                            <input aria-label="valueAmountNumber" name="amount" type="number"
                                ng-model="vm.messageSaveData.notificationFromValue" required>
                            <div ng-messages="vm.messageSaveData.notificationFromValue.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="no-errors-spacer" md-no-float>
                            <md-select aria-label="notificationFromTypeSelector"
                                ng-model="vm.messageSaveData.notificationFromType">
                                <md-option value="hours">{{'hours' | translate}}</md-option>
                                <md-option value="days">{{'days' | translate}}</md-option>
                                <md-option value="weeks">{{'weeks' | translate}}</md-option>
                            </md-select>
                            <div ng-messages="vm.messageSaveData.notificationFromType.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>
                        <label class="lowercase">{{'before' | translate}} {{'event' | translate}}</label>
                    </div>
                    <div flex class="date-container" ng-if="vm.messageSaveData.timeBound && !vm.messageSaveData.isPush">
                        <label>{{'notification_to' | translate}}</label>
                        <md-input-container class="no-errors-spacer notification-value-input" md-no-float>
                            <input aria-label="valueAmountNumber" name="amount" type="number"
                                ng-model="vm.messageSaveData.notificationToValue" required>
                            <div ng-messages="vm.messageSaveData.notificationToValue.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="no-errors-spacer" md-no-float>
                            <md-select aria-label="notificationToTypeSelector"
                                ng-model="vm.messageSaveData.notificationToType">
                                <md-option value="hours">{{'hours' | translate}}</md-option>
                                <md-option value="days">{{'days' | translate}}</md-option>
                                <md-option value="weeks">{{'weeks' | translate}}</md-option>
                            </md-select>
                            <div ng-messages="vm.messageSaveData.notificationToType.$error">
                                <div ng-message="required">{{'required' | translate}}</div>
                            </div>
                        </md-input-container>
                        <label class="lowercase">{{'before' | translate}} {{'event' | translate}}</label>
                    </div>
                </div>
                <md-checkbox ng-disabled="vm.user.exploitant != true" ng-model="vm.messageSaveData.isChecked" aria-label="isChecked checkBox">
                    {{'is_checked' | translate}}
                </md-checkbox>

            </div>
        </md-dialog-content>
        <md-dialog-content ms-scroll ng-if="vm.type == 'tags'">
            <div class="task-placeholder" ng-if="!vm.tagSaveData">
                <div class="spinner-wrapper-custom">
                    <div class="spinner">
                        <div class="inner">
                            <div class="gap"></div>
                            <div class="left">
                                <div class="half-circle"></div>
                            </div>
                            <div class="right">
                                <div class="half-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-content" ng-if="vm.tagSaveData">
                <md-input-container class="md-block">
                    <label translate="name">Name</label>
                    <input  ng-disabled="vm.access.community.editTags !== true" name="name" ng-model="vm.tagSaveData.name" required md-autofocus>
                    <div ng-messages="messageForm.name.$error" ng-show="messageForm.name.$touched" role="alert">
                        <div ng-message="required"> <span translate="required">Name field is required</span> </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label translate="color">Color</label>
                    <md-select ng-disabled="vm.access.community.editTags !== true" ng-model="vm.tagSaveData.color" required placeholder="Select color">
                        <md-option value="red"> {{'red' | translate}} </md-option>
                        <md-option value="fuchsia"> {{'purple' | translate}} </md-option>
                        <md-option value="blue"> {{'blue' | translate}} </md-option>
                        <md-option value="cyan"> {{'cyan' | translate}} </md-option>
                        <md-option value="lime"> {{'green' | translate}} </md-option>
                        <md-option value="yellow"> {{'yellow' | translate}} </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label translate="question">Question</label>
                    <textarea  ng-disabled="vm.access.community.editTags !== true"
                        ng-pattern="/^[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*(?:[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*\r?\n[a-zA-Z _\\\/.,’!?'-\d+@èéà€ï:()]*)*$/"
                        ng-trim="false" name="question" md-no-resize class="question-input" md-maxlength="160"
                        ng-model="vm.tagSaveData.question" required md-autofocus></textarea>
                    <div ng-messages="messageForm.question.$error" ng-show="messageForm.question.$touched" role="alert">
                        <div ng-message="md-maxlength"> <span translate="too_long">Field uses too many characters</span>
                        </div>
                        <div ng-message="required"> <span translate="required">Field is required</span> </div>
                        <div ng-message="pattern"> <span translate="invalid_characters">Pattern Error</span> </div>
                    </div>
                </md-input-container>
                <!-- TEMPORARY DISABLED UNTILL FURTHER SUPPORT IS ADDED FOR PARAMETERS LIKE "LIDNUMMER" -->
                <!-- <md-subheader translate="params"></md-subheader>
                <md-input-container class="md-block">
                    <label translate="param_name">Param Name</label>
                    <input name="param_name" ng-change="vm.checkParams(vm.tagSaveData.params[0])" ng-model="vm.tagSaveData.params[0].name" ng-required="vm.paramsNotEmpty" md-autofocus>
                    <div ng-messages="messageForm.param_name.$error" ng-show="messageForm.param_name.$touched" role="alert">
                        <div ng-message="required"> <span translate="required">Question field is required</span> </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label translate="param_question">Param Question</label>
                    <textarea ng-pattern="/^[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*(?:[a-zA-Z _\\\/.,’!?'-\d+@èéàï€:()]*\r?\n[a-zA-Z _\\\/.,’!?'-\d+@èéà€ï:()]*)*$/" ng-trim="false" name="param_question" md-no-resize class="question-input" ng-change="vm.checkParams(vm.tagSaveData.params[0])" md-maxlength="160" ng-model="vm.tagSaveData.params[0].question" ng-required="vm.paramsNotEmpty" md-autofocus></textarea>
                    <div ng-messages="messageForm.param_question.$error" ng-show="messageForm.param_question.$touched" role="alert">
                        <div ng-message="md-maxlength"> <span translate="too_long">Field uses too many characters</span> </div>
                        <div ng-message="required"> <span translate="required">Field is required</span> </div>
                        <div ng-message="pattern"> <span translate="invalid_characters">Pattern Error</span> </div>
                    </div>
                </md-input-container> -->
            </div>
        </md-dialog-content>
        <md-dialog-actions ng-if="(vm.type == 'messages' && vm.access.organisation.editMessages == true) || (vm.type == 'tags' && vm.access.organisation.editTags == true)" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!vm.newItem" ng-click="vm.saveItem()"
                    class="send-button md-accent md-raised" ng-disabled="messageForm.$invalid || messageForm.$pristine"
                    aria-label="SAVE" translate="save" translate-attr-aria-label="save"> SAVE </md-button>
                <md-button type="submit" ng-if="vm.newItem" ng-click="vm.saveItem()"
                    class="send-button md-accent md-raised" ng-disabled="messageForm.$invalid || messageForm.$pristine"
                    aria-label="Add message" translate="add" translate-attr-aria-label="add"> ADD MESSAGE </md-button>

            </div>
            <div layout="row">
                <md-button class="md-icon-button" ng-click="vm.deleteMessage($event)" aria-label="Delete" translate
                    translate-attr-aria-label="MANAGEMENT.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span translate="delete">DELETE</span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>